<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ralphapp.ralph" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ralph</name>
    <description>
        Welcome to Ralph!
    </description>
    <author email="tech@ralphchat.com" href="https://ralphchat.com">
        The Ralph Team
    </author>

    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="deployment-target" value="7.0" />

    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="false" />

    <content src="index.html" />
    <access origin="*" />

    <preference name="com.urbanairship.production_app_key" value="" />
    <preference name="com.urbanairship.production_app_secret" value="" />
    <preference name="com.urbanairship.development_app_key" value="" />
    <preference name="com.urbanairship.development_app_secret" value="" />
    <preference name="com.urbanairship.in_production" value="true" />
    <preference name="com.urbanairship.gcm_sender" value="Android only: Your GCM sender id" />
</widget>
