html {
  padding: 0;
  height: 100%;
}
body {
  padding: 0;
  height: 100%;
}
.app {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #17ADC6;
}
.app-loading {
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  text-align: center;
}

.app--no-server {
  background: #E69724;
  display: none;
}
.app--no-server .app-loading {
  top: 35%;
}
#phonegap-reload {
  background: #FFF;
  color: #E69724;
  padding: 15px 20px;
  margin-top: 25px;
  display: block;
  text-decoration: none;
}
